@media screen and (max-width: 760px) {
    .nav-item{
        text-align: center;
        margin-top: 0.5rem;
    }

    .contact-image-container{
        height:400px;
    }

    .contact-image{
        width: 90%;
    }

    .form-title{
        font-size: 1.5rem;
    }

    .about-hero-section h1{
        font-size: 2rem;
    }
    .about-hero-section h2{
        font-size: 1.2rem;
    }

    .tab-section .nav-tabs {
        justify-content: flex-start;
    }
    
    .tab-content{
        padding-inline: 0px !important;
    }
    .tab-section .nav-tabs .nav-item {
        float: none;
        display: inline-block;
    }

    .tab-section .nav-tabs .nav-link {
        padding: 8px 15px;
        font-size: 0.8rem;
    }
}

@media (max-width: 1200px) {
    .stat-item {
        flex-direction: column;
        text-align: center;
    }
    .stat-icon {
        margin-right: 0;
        margin-bottom: 10px;
    }
}